
.btnContainer {
    margin: 1rem;
    height: 4rem;
    width: 10vw;
    border: none;
    position: relative;
    overflow: hidden;
}

.button {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 2rem;
    color: white;
    background-color: rgb(87, 163, 115);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.button:hover {
    cursor: pointer;
}

.btnAnimation {
    position: absolute;
    background-color: var(--btn-animation);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: transform 0.5s ease;
}

.btnContainer:hover .btnAnimation {
    transform: translateX(100%);
    cursor: pointer;
}

