@keyframes shine {
  0%, 100% {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2), 
                inset 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  25% {
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.2), 
                inset 1px 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2), 
                inset 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  }
  75% {
    box-shadow: -1px 0 10px 1px rgba(0, 0, 0, 0.2), 
                inset -1px 0 2px 1px rgba(0, 0, 0, 0.2);
  }
}
.settingsPageContainer {
  height: 88vh;
}
.settingsPage {
    max-width: 30rem;
    margin: 10rem auto 0;
    padding: 3rem 2rem 3rem;
    text-align: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    animation: shine 5s infinite linear;    
  
   .editTitle {
      font-size: 2.2rem;
      margin-bottom: 20px;
      color: black;
      text-shadow: none;
      text-align: center;
    }
  
    label {
      display: block;
      font-size: 16px;
      color: black;
    }
  
    input[type="text"],
    input[type="file"] {
      width: 100%;
      padding: 8px;
      font-size: 16px;
      border-radius: 4px;
      border: 1px solid black;
      background-color: white;
      margin: 0;
    }
  
    img {
      max-width: 50%;
      margin-top: 10px;
      border-radius: 4px;
    }
  
    button {
      font-size: 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      border: 1px solid black;
      transition: transform 0.3s ease;
    }
  
    button:hover {
      background-color: rgb(87, 163, 115);
      border: 1px solid black;
      transform: scale(1.0002);
      filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
    }
  }
