@keyframes shine {
  0%, 100% {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2), 
                inset 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  25% {
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.2), 
                inset 1px 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2), 
                inset 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  }
  75% {
    box-shadow: -1px 0 10px 1px rgba(0, 0, 0, 0.2), 
                inset -1px 0 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.container {
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border-bottom: 2px solid #ccc;
    box-shadow: none;
    min-width: 30vh;
    max-width: 70vh;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 2rem 3rem;
    user-select: none;
    user-select: none;
    overflow: hidden;
    animation: shine 5s infinite linear;
  
    .title {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 20px;
      font-family: "Inter Tight";
      color: white;
    }
  
    .formGroup {
      margin-bottom: 20px;
  
      .label {
        font-size: 1.2rem;
        margin-bottom: 5px;
        color: white;
      }
  
      .input {
        min-width: 30vw;
        background: transparent;
        border: none;
        border-bottom: 1px solid white;
        font-size: 1.2rem;
        padding: 1rem;
        border-radius: 0;
        color: white;
        transition: border-bottom-color 0.3s ease; /* Add transition for border-bottom color */
        width: 30vh;
        font-weight: bolder;
        padding: 0;
      }
  
      .input:focus {
        border-bottom-color: gold; /* Change border-bottom color on focus */
      }
    }
  
    .error {
      color: #ff0000;
      font-size: 1rem;
      margin-top: 3px;
      margin-left: 5px;
    }
  
    .success {
      color: #00cc00;
      font-size: 1rem;
      margin-top: 5px;
    }
  
    .button {
      color: white;
      width: 100%;
      height: 40px;
      border-radius: 40px;
      background-color: rgb(87, 163, 115);
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 1.25rem;
      font-weight: 600;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      transition: all 0.4s ease;
      margin-bottom: 1rem;
    
      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  
    .link {
      color: white;
      border-radius: 40px;
      background-color: rgb(87, 163, 115);
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 1.25rem;
      font-weight: 600;
      padding-top: .4rem;
      padding-bottom: .4rem;
      width: 100%;
      transition: all 0.4s ease;
      display: inline-flex;
      align-items: center;
      justify-content: center;
  
      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
  