.container {
    max-width: 40vh;
    margin: auto;
    padding: 20px;
    background-color: transparent;
    border-bottom: 2px solid #ccc;
    box-shadow: none;
  
    .title {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 20px;
    }
  
    .formGroup {
      margin-bottom: 20px;
  
      .label {
        font-size: 1.2rem;
        margin-bottom: 5px;
      }
  
      .input {
        min-width: 20vw;
        max-width: 26vw;
        background: transparent;
        border: none;
        border-bottom: 1px solid black;
        height: 3.5rem;
        margin-left: 1rem;
        font-size: 1.2rem;
        padding: 1rem;
        border-radius: 0;
        color: var(--input-color);
        transition: border-bottom-color 0.3s ease; /* Add transition for border-bottom color */
      }
  
      .input:focus {
        border-bottom-color: gold; /* Change border-bottom color on focus */
      }
    }
  
    .error {
      color: #ff0000;
      font-size: 1rem;
      margin-top: 5px;
    }
  
    .success {
      color: #00cc00;
      font-size: 1rem;
      margin-top: 5px;
    }
  
    .button {
      width: 15vh; /* Set width to auto */
      padding: 8px 16px; /* Adjust padding */
      font-size: 1rem; /* Adjust font-size */
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  
    .link {
      display: block;
      text-align: center;
      margin-top: 20px;
      width: 15vh; /* Set width to auto */
      color: #007bff;
      cursor: pointer;
      padding: 8px 16px;
      border-radius: 4px;
      background-color: #f8f9fa;
      transition: background-color 0.3s ease;
      text-transform: capitalize;
  
      &:hover {
        text-decoration: underline;
        color: #0056b3;
        background-color: #e2e6ea;
      }
    }
  }
  