.NewPostForm {
    width: 90%;
    background: linear-gradient(to bottom right, #7bbd86, #1f644b);
    border: .1rem solid black;
    border-radius: .5rem;
    margin: 2rem auto 2rem;
    padding: 2rem;
    .heading {
        margin: 0 0 1rem;
        color: white;
        text-shadow: 1px 1px 2px black;
    }
    .Form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .textInput {
            height: 2rem;
            border-radius: .2rem;
            border: .01rem solid black;
            width: 80%;
            margin: .1rem 0;
            font-size: 1rem;
            &:focus {
                outline: .1rem solid green;
            }
        }
        .textAreaInput {
            height: 6rem;
            border-radius: .2rem;
            width: 80%;
            margin: 0;
            padding: .5rem 1rem;
            font-size: 1rem;
            border: .01rem solid black;
            &:focus {
                outline: .1rem solid green;
            }
        }
        .checkboxContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            .label {
                font-size: 1rem;
            }
        }
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background-color: green;
                border: 1px solid black;
                color: white;
            }
        }
    }
}