@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #D8F3DC, #081C15);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 10px; 
  }

.boxc {
    min-width: 25vh;
    max-width: 700px;
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
}

h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    min-width: 27vh;
    max-width: 35vh;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

/*ANIMATION */
input:focus ~ label, 
input:valid ~ label {
    top: -5px;
}

.errorSign {
  display: block;
}

.inputbox input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
}

.lost {
    margin: 35px 0;
    font-size: 0.85rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
  }
  
  .lost label {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer; /* Change cursor to pointer when hovering over the label */
  }
  
  .lost label input {
    margin-right: 5px; /* Increase the margin for better spacing */
    cursor: pointer;
  }
  
  .lost a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease; /* Smooth transition for color change */
  }
  
  .lost a:hover {
    text-decoration: underline;
    color: #ccc; /* Change color on hover for better feedback */
  }
  
  .register:hover {
    text-decoration: underline;
    cursor: pointer;
  }

button {
    color: black;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(255, 255,255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}

button:hover {
  background-color: rgb(255, 255,255, 0.5);
}

.register {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    /* font-size: large; */
    text-decoration: underline;
}