@keyframes labelCheckedAnimation {
  0% {
    color: #c3ffb3; 
    transform: scale(1);
  }
  50% {
    color: #98fb98; 
    transform: scale(1.1);
  }
  100% {
    color: #c3ffb3;
    transform: scale(1);
  }
}

@keyframes shine {
  0%, 100% {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2), 
                inset 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  25% {
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.2), 
                inset 1px 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2), 
                inset 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  }
  75% {
    box-shadow: -1px 0 10px 1px rgba(0, 0, 0, 0.2), 
                inset -1px 0 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* Body styles */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #7bbd86, #16523c);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h4 {
  font-size: 3rem;
}

/* Inputbox styles */
.inputbox {
  position: relative;
  margin: 30px 0;
  min-width: 30vh;
  max-width: 40vh;
  border-bottom: 2px solid #fff;
  &:focus-within {
    border-bottom-color: gold !important; /* Change border color on focus */
  }

  label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-40%);
    color: #fff;
    font-size: 1.25rem;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }

  input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.25rem;
    font-weight: bolder;
    padding: 0 35px 0 5px;
    color: #fff;

    &:focus ~ label,
    &:valid ~ label {
      color: lightgray;
      top: -5px;
    }
  }
}

/* Rest of the styles */

.boxc {
  min-width: 30vh;
  max-width: 50vh;
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  user-select: none;
  margin-top: 10rem;
  overflow: hidden;
  animation: shine 5s infinite linear;

  .title {
    width: 100%;
    color: #fff;
    padding: 10px;
    text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
  }

  h1 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
  }

  .errorSign {
    display: block;
  }

  .lost {
    margin: 35px 0;
    font-size: 0.85rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      font-size: 1rem;
      display: flex;
      align-items: center;
      padding: .1rem;
      cursor: pointer;
      user-select: none;
      margin-right: 1rem;
      margin-left: -1.25rem;
      
      &:has(input:checked) {
        color: darkgreen;
        font-weight: bolder;
        animation: labelCheckedAnimation 0.5s ease forwards;
      }


      input {
        margin-right: 5px;
        cursor: pointer;
      }

      
    }

    .forgotPassword {
      font-size: 1rem;
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      transition: color 0.3s ease;
      user-select: none;
      &:hover {
        text-decoration: underline;
        color: #ccc;
        cursor: pointer;
      }
    }
  }

  
  .register {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    p {
      .forgotPassword {
        text-decoration: none;
        color: #fff;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  button {
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(87, 163, 115);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 600;
    transition: all 0.4s ease;
    user-select: none;
    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  .showPasswordIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 1.5rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
    user-select: none;
  }
}