.ProfilePost {
    display: flex;
    min-height: 20rem;
    min-width: 50vw;
    justify-content: space-around;
    background-color: white;
    border-radius: .5rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border: .1rem solid lightgrey;
    box-shadow: 0 0 .3rem darkgreen;
    .TitleImgContainer {
        display: flex;
        flex-direction: column;
        margin-right: .5rem;
        .ProjectImage {
            max-width: 20rem;
        }
        .ProjectTitle {
            font-size: 2vw;
            margin-bottom: 2rem;
        }
    }
    .ProjectDescription {
        max-width: 30rem;
        font-size: 1vw;
    }
    .navBtnContainer {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        min-width: 6rem;
        .ghContainer {
            width: 3rem;
            height: 3rem;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            .ProjectLogo {
                width: 4rem;
                background-color: white;
                border-radius: 100%;
                transition: .3s ease;
                &:hover {
                    filter: invert(100%);
                    transition: .3s ease;
                }
            }
        }
        .deleteBtn {
            background-color: white;
            border-radius: 0;
            border: none;
            width: auto;
            color: blue;
            font-size: 1rem;
            font-weight: 200;
            transition: .3s ease;
            &:hover {
                text-decoration: underline;
                transition: .3s ease;
            }
        }
    }
}