.todo {
    /*! keep */
    font-size: 1.5rem;
    color: rgba(23, 5, 58, 0.79);
    .button {
        background-color: rgba(25, 5, 58, 0.8);
        text-transform: uppercase;
        cursor: pointer;
        color: ghostwhite;
        padding: 0.25rem 1rem;
        font-size: 1rem;
        font-weight: 700;
        display: inline-block;
        margin-left: 1rem;
        border: 2px;
        box-shadow: 0 2px 5px rgba(23, 5, 58, 0.5);
    }
}