.ProfilePage {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    padding: 5rem 10rem;
    .topContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-height: 50rem;
        .userContainer {
            display: flex;
            flex-direction: column;
            width: 25%;
            background-color: white;
            border-radius: 1rem;
            padding: 2rem;
            border: .1rem solid lightgrey;
            box-shadow: 0 0 1rem lightgrey;
            .imgAndEditContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 15rem;
                .editBtn {
                    font-size: 1.2rem;
                    &:hover {
                        color: blue;
                        text-decoration: underline;
                        transition: none;
                    }
                }
            }
            .userBio {
                color: black;
            }
            .userLinks {
                width: 15rem;
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 1.5rem;
                .ghLogo {
                    background-color: lightgrey;
                    border-radius: 100%;
                    width: 4rem;
                    transition: .3s ease;
                    &:hover {
                        background-color: green;
                        transition: .3s ease;
                    }
                }
                .portfolioLogo {
                    background-color: lightgrey;
                    border-radius: 100%;
                    width: 4rem;
                    padding: 1rem;
                    transition: .3s ease;
                    &:hover {
                        background-color: green;
                        transition: .3s ease;
                    }
                }
            }
        }
    }
}

