.ProfilePage {
    margin: 10vh auto 0;
    width: 100%;
    height: 100%;
    padding: 2rem 10rem;
    display: flex;
    .topContainer {
        width: 60%;
        max-height: 50rem;
        .userContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 90%;
            max-height: 40rem;
            background: linear-gradient(to bottom right, #7bbd86, #16523c);
            padding: 2rem;
            border: .1rem solid rgb(51, 86, 51, 0.3);
            border-radius: 20px;
            box-shadow: 0 0 .3rem var(--text-green);
            .imgContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 15rem;
            }
            .userBio {
                color: black;
            }
            .userLinks {
                width: 15rem;
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 1.5rem;
                .ghLogo {
                    background-color: lightgrey;
                    border-radius: 100%;
                    width: 4rem;
                    transition: .3s ease;
                    &:hover {
                        filter: invert(100%);
                        transition: .3s ease;
                    }
                }
                .portfolioLogo {
                    background-color: lightgrey;
                    border-radius: 100%;
                    width: 4rem;
                    padding: .9rem;
                    transition: .3s ease;
                    &:hover {
                        filter: invert(100%);
                        transition: .3s ease;
                    }
                }
            }
        }
    }
}