.ProfilePage {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    padding: 5rem 10rem;
    .topContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-height: 50rem;
        .userContainer {
            display: flex;
            flex-direction: column;
            width: 55%;
            background-color: white;
            border-radius: 1rem;
            padding: 2rem;
            border: .1rem solid lightgrey;
            box-shadow: 0 0 1rem lightgrey;
            .userHeading {
                display: flex;
                align-items: center;
                .userName {
                    margin-left: 3rem;
                }
            }
            .userBio {
                margin-top: 2rem;
                height: 15vh;
            }
        }
        .employers {
            width: 40%;
            background-color: white;
            border-radius: 1rem;
            border: .1rem solid lightgrey;
            box-shadow: 0 0 1rem lightgrey;
            padding: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: scroll;
            .ul .li {
                list-style-type: none;
                margin-bottom: 1rem;
                font-size: .7vw;
            }
        }
    }
    .ProjectContainer {
        margin-top: 3rem;
        background-color: white;
        width: 100%;
        min-height: 60rem;
        border-radius: 1rem;
        padding: 2rem;
        border: .1rem solid lightgrey;
        box-shadow: 0 0 1rem lightgrey;
    }
    .ProjectItems {
        margin-top: 3rem;
        background-color: white;
        width: 100%;
        border-radius: 1rem;
        padding: 2rem;
        border: .1rem solid lightgrey;
        box-shadow: 0 0 1rem lightgrey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .imgContainer {
            .image {
                max-height: 40rem;
                border-radius: 1rem;
                border: .2rem solid lightgrey;
            }
        }
        .projectDescription {
            padding: 1rem;
            margin-left: 1rem;
            min-height: 50rem;
            border: 1px solid lightgrey;
            display: flex;
            width: 50%;
            border-radius: 1rem;
            background-color: var(--bg-color);
            box-shadow: 0 0 1rem lightgrey;
        }
        .iconContainer {
            width: 20%;
            min-height: 50rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .icon {
                width: 9rem;
                height: 9rem;
                border-radius: 100%;
                background-color: var(--bg-color);
            }
        }
    }
}