.commentContainer {
    max-width: 100%;
    border: .2rem solid rgb(51, 86, 51, 0.3);
    border-radius: 20px;
    padding: 2rem;
}

.commentTitle {
    font-size: 2rem;
    color: var(--text-green);
    letter-spacing: 2px;
    text-align: center;
    border-bottom: .1rem solid rgb(51, 86, 51, 0.3);
}

.commentList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    max-height: 250px;
    max-width: 200px;
    overflow-y: auto;
    border-bottom: .1rem solid rgb(51, 86, 51, 0.3);
}

.commentUser {
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.commentItem {
    font-size: 1.5rem;
    color: black;
    letter-spacing: 1px;
    padding-top: 1rem;
    list-style: none;
    border-bottom: .1rem solid rgb(51, 86, 51, 0.3);
}

.comment {
    display: inline-block;
    padding: 1rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}