.todolist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgba(23,5, 58, 0.8);
    border-radius: 9px;
    border: 1px solid rgba(23,5, 58, 0.1);
    padding: 2rem;
    box-shadow: 2px 4px 8px rgba(23,5, 58, 0.5);
    .input {
        color:rgba(89, 15, 230, 0.8);
        display: inline-block;
        font-size: 2.5rem;
        height: 3.5rem;
        margin: 1rem;
        border: 0;
        background-color:aliceblue;
    }
}