@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: none;
    width: 100%;
    padding: 0 1rem;
    background: linear-gradient(to bottom right, #7bbd86, #216b50);
    border-bottom: .25rem solid black;
}

input {
    border: .09rem solid black;
}

.searchBar {
    padding: 10px;
    animation: fadeIn 1s ease-out;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.01);
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    }
}

.ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navItem {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    text-decoration: none;
    animation: fadeIn 1s ease-out;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
        filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
    }

    .listItem {
        display: flex;
        align-items: center;

        .btnLogo {
            width: 2rem; 
            height: 2rem; 
            margin-right: 0.5rem;
        }

        .logSignup {
            width: 32px;
            height: 32px;
        }
    }
}

@media (max-width: 768px) {
    .Nav {
        flex-direction: column;

        .searchBar,
        .ul {
            width: 100%; 
        }
    }

    .navItem {
        .listItem {
            .btnLogo {
                width: 1.5rem; 
                height: 1.5rem;
            }
        }
    }
}