.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: none;
    width: 100%;
    padding: 0 1rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchBar {
    
    .searchInput {
        width: 100%;
        border-radius: 4px;
        border: white;
        font-size: 16px;
    }
}

.ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navItem {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    text-decoration: none;

    .listItem {
        display: flex;
        align-items: center;

        .btnLogo {
            width: 2rem; 
            height: 2rem; 
            margin-right: 0.5rem;
        }
    }
}

@media (max-width: 768px) {
    .Nav {
        flex-direction: column;

        .searchBar,
        .ul {
            width: 100%; 
        }
    }

    .navItem {
        .listItem {
            .btnLogo {
                width: 1.5rem; 
                height: 1.5rem;
            }
        }
    }
}