.Nav {
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    .btnLogo {
        width: 3rem;
    }
    
    .ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5);

        .navItem {
            margin-right: 1rem;
            padding: 1rem;
            text-decoration: none;
            width: 5vw;
            height: 100%;
            border-radius: 20%;
            transition: all 0.4s ease;
            &:hover{
                cursor: pointer;
                    background-color: rgb(87, 163, 115);
            }

            .listItem {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                color: black;
                font-size: 2rem;
                list-style: none;

                &:hover {
                    color: white;
                }
            }
        }
    }
}