.Nav {
    width: 100%;
    background-color: white;
    opacity: .6;
    height: 4rem;
    .image {
        width: 20vw;
        margin-left: 2rem;
    }
    .ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .navItem {
            text-decoration: none;
            border: .1rem solid var(--nav-border);
            width: 10vw;
            height: 100%;
            &:hover{
                background-color: green;
                cursor: pointer;
            }
            .listItem {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                color: black;
                font-size: 2rem;
                list-style: none;
                &:hover {
                    color: white;
                }
            }
        }
    }
}