@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.Nav {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    background-color: #ffffff;
    box-shadow: 0 2px 8px lightgrey;
    z-index: 1000;
    .innerNav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    input {
        border: .1rem solid lightgrey;
        border-radius: .5rem;
        min-width: 30vw; /* Adjust width as needed */
    }
}

.logo {
    flex-shrink: 0; /* Prevent the logo from shrinking */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 9vw;
    margin: 0 auto; /* Center the logo horizontally */
}
.ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navItem {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    text-decoration: none;
    transition: .3s ease;
    &:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: .3s ease;
    }
}

.navItem .listItem {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.navItem .listItem .btnLogo {
    width: 2rem; 
    height: 2rem; 
    margin-right: 0.5rem;
}

.navItem .listItem .logSignup {
    width: 32px;
    height: 32px;
}

@media (max-width: 768px) {
    .Nav {
        flex-direction: column;
        align-items: flex-start; /* Align items to the start for vertical layout */

        .searchBar,
        .ul {
            width: 100%; 
        }
    }

    input {
        width: 100%; /* Make the search bar occupy full width */
    }

    .navItem .listItem .btnLogo {
        width: 1.5rem; 
        height: 1.5rem;
    }
}