.LikeBtnContainer {
  position: relative;
  .button {
    width: 5rem;
    &:hover {
      background-color: rgb(87, 163, 115);
      border: 1px solid black;
    }
  }
  .likesSum {
    position: absolute;
    top: 0;
    right: -.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(185, 228, 178);
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
