:root {
  --color-icon: #535c68; 
  --social-icon1: #e4405f;
  --social-icon2: #3b5999;
  --social-icon3: #e4405f;
  --social-icon4: #cd201f;
  --social-icon5: #0077B5; 
}

.iconList {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  list-style: none;
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.iconItem {
  display: flex; /* Ensure list items are treated as flex items */
}

.iconLink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-decoration: none;
  background-color: white;
  color: black;
  width: 3rem;
  height: 3rem;
  border: none; /* Remove default button border */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition */
}

.iconLink:hover {
  color: #fff;
  background-color: var(--social-icon1); /* Change background color on hover */
}

.iconLink.clicked {
  color: var(--social-icon1);
}

.iconLink.clicked:hover {
  background-color: var(--social-icon1); /* Change background color on hover when clicked */
}
