@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.SignUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #D8F3DC, #081C15);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 10px;
}

.boxc {
  min-width: 25vh; /* Adjust as needed */
  max-width: 700px; /* Adjust as needed */
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;

  h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
  }
}

.inputbox {
  position: relative;
  margin: 30px 0;
  min-width: 27vh;
  max-width: 35vh;
  border-bottom: 2px solid #fff;

  &:hover {
    border-bottom-color: gold !important; /* Change border color on focus */
  }

}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 2rem;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.inputbox select {
    width: 100%;
    height: 80px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 2rem;
    padding: 0 35px 0 5px;
    color: #fff;
  }
  
  .inputbox select option {
    font-size: 1.5rem;
    background-color: #081C15; /* Background color for options */
    border-radius: 2px;
    color: #fff; /* Text color for options */
  }

  .inputbox input:focus ~ label,
  .inputbox input:valid ~ label {
    color: lightgray;
    top: -5px;
  }
  
.inputbox input {
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  padding: 0 35px 0 5px;
  color: #fff;
}

.login {
  margin-top: 20px; 
  font-size: 0.85rem;
  color: #fff;
  display: flex;
  justify-content: center;
}

.login p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.login p:hover {
    text-decoration: underline;
    cursor: pointer;
}

button {
  color: black;
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  transition: all 0.4s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.inputbox select {
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  padding: 0 5px;
  color: #fff;
}

select:hover {
  cursor: pointer;
}

option {
  color: black;
}

.register {
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}

.showPasswordIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: 1.75rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ccc;
}