@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #7bbd86, #16523c);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.boxc {
  min-width: 30vh;
  max-width: 43.3vh;
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;

  h1 {
    font-size: 3rem; /* Match the font size here */
    color: #fff;
    text-align: center;
    padding-top: .64rem;
  }
}

.inputbox {
  position: relative;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
  position: relative;
  margin: 30px 0;
  min-width: 30vh;
  width: 30vh;
  border-bottom: 2px solid #fff;
  
  &:focus-within {
    border-bottom-color: gold !important; /* Change border color on focus */
  }
}

.inputbox label {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  color: #fff;
  font-size: 1.25rem; /* Match the font size here */
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
}

.inputbox select {
    width: 100%;
    height: 80px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.25rem;
    color: #fff;
  }
  
  .inputbox select option {
    font-size: 1.25rem;
    background-color: #081C15; /* Background color for options */
    border-radius: 2px;
    color: #fff; /* Text color for options */
  }

  .inputbox input:focus ~ label,
  .inputbox input:valid ~ label {
    color: lightgray;
    top: -5px;
  }
  
.inputbox input {
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.25rem; /* Match the font size here */
  color: #fff;
  font-weight: bolder;
  padding: 0;
}

.login {
  margin-top: 20px; 
  font-size: 0.85rem;
  color: #fff;
  display: flex;
  justify-content: center;
}

.login p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.login p:hover {
    text-decoration: underline;
    cursor: pointer;
}

button {
  color: white;
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background-color: rgb(87, 163, 115);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  transition: all 0.4s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.inputbox select {
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.25rem;
  color: #fff;
}

select:hover {
  cursor: pointer;
}

option {
  color: black;
}

.register {
  font-size: 1.25rem;
  color: #fff;
  text-align: center;
}

.register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}

.showPasswordIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: 1.5rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ccc;
}
