.Post {
    width: 100%;
    margin: 0 0 1rem;
    padding: 2rem;
    min-height: 35vh;
    border: .1rem solid rgb(51, 86, 51, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    color: black;
    box-shadow: 0 0 .3rem var(--text-green);
}

.Post .postContent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.Post .postContent .TitleImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
}

.Post .postContent .TitleImgContainer .projectTitle {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.Post .postContent .projectDescription {
    border: 1px solid grey;
    border-radius: .5rem;
    padding: .5rem;
    width: 40%;
    min-height: 20vh;
    font-size: 1.2rem;
    background-color: #f1f1f1;
}

.Post .postContent .ghBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Post .postContent .ghBtn .ghImg {
    width: 3rem;
}

.Post .postContent .ghBtn:hover .ghImg {
    filter: invert(1);
}

.Post .postContent .LikeBtn {
    width: 5rem;
}

.Post .postContent .btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Post .postContent .btnContainer .button {
    min-width: 5rem;
    margin: 1rem;
}

.Post .postContent .btnContainer .button:hover {
    background-color: green;
    color: white;
}
