.Post {
    width: 100%;
    margin: 0 0 1rem;
    padding: 2rem;
    min-height: 35vh;
    border: .1rem solid rgb(51, 86, 51, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom right, #7bbd86, #16523c);
    color: black;
    box-shadow: 0 0 .3rem var(--text-green);
}

.Post .postContent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.Post .postContent .TitleImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
}

.Post .postContent .TitleImgContainer .projectTitle {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.TitleImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.userName {
    text-decoration: none;
    color: white;
    transition: .3s ease;
    max-width: 5rem;
    &:hover {
        transition: .3s ease;
        color: darkgreen;
    }
}

.ProjectImage {
    border-radius: .5rem;
    margin-top: 1rem;
}

.Post .postContent .projectDescription {
    border-radius: .5rem;
    padding: 1rem;
    width: 40%;
    min-height: 20vh;
    font-size: 1.2rem;
    background-color: rgb(165, 214, 173, .4);
}

.Post .postContent .ghBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Post .postContent .ghBtn .ghImg {
    width: 3rem;
}

.Post .postContent .ghBtn:hover .ghImg {
    filter: invert(1);
}

.ghBtn {
    width: 5rem;
    &:hover {
        border: 1px solid black;
    }
}

.Post .postContent .LikeBtn {
    width: 5rem;
}

.Post .postContent .btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Post .postContent .btnContainer .button {
    min-width: 5rem;
    margin: 1rem;
}

.button {
    padding: 10px;
    background-color: rgb(250, 250, 250);
    color: rgb(88, 85, 85);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid black;
    height: 2.5rem;
    font-size: 1rem;
    width: 5rem; 
    margin: 0 auto; 
}

.button:hover {
    background-color:green;
    color: white;
    border: none;
    transform: scale(1.01);
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}


.btnContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}