.App {
    width: 100vw;
    height: 100%;
    padding-top: 4rem;
    .NavBar {
        position: fixed;
        top: 0;
    }
}

h1 {
    font-size: 7vmin;
    color: var(--text-dark);
    text-shadow: 1px 1px 2px black;
}

h2 {
    font-size: 2vw;
    color: var(--text-dark);
}

h3 {
    font-size: 1.3vw;
}

p {
    font-size: .8vw;
}

input {
    /* width: 25vw; */ /*Will Changed Temp */
    height: 3.5rem;
    border-radius: 1rem;
    margin-left: 1rem;
    font-size: 2rem;
    padding: 1rem;
    color: var(--input-color);
}

input:focus {
    outline: none;
    box-shadow: 0 0 1rem var(--btn-color);
}

label {
    font-size: 2.3rem;
    padding: 1rem;
}