h1 {
    font-size: 7vmin;
    color: var(--heading-color);
    text-shadow: 1px 1px 2px black;
}

input {
    /* width: 25vw; */ /*Will Changed Temp */
    height: 3.5rem;
    border-radius: 1rem;
    margin-left: 1rem;
    font-size: 2rem;
    padding: 1rem;
    color: var(--input-color);
}

input:focus {
    outline: none;
    box-shadow: 0 0 1rem var(--btn-color);
}

label {
    font-size: 2.3rem;
    padding: 1rem;
}
