@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --heading-color: rgb(237, 100, 100);
    --bg-color: #f4f3ef;
    --btn-color: rgb(237, 100, 100);
    --btn-animation: rgba(219, 171, 171, 0.3);
    --input-color: rgb(87, 8, 8);
    --nav-border: rgba(219, 171, 171, 0.3);
    --text-red: rgb(237, 100, 100);
    --text-green: rgb(51, 86, 51);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Nunito', Verdana, Tahoma, sans-serif;
}

body {
    background-color: var(--bg-color);
}