.homePage {
    background-color: white;
    padding: 20px;
    border: none;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(58, 163, 49);
    border-radius: 5px;
    resize: none;
}

button {
    padding: 10px;
    background-color: rgb(250, 250, 250);
    color: rgb(88, 85, 85);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto; 
    margin: 0 auto; 
}

button:hover {
    background-color: #6acf66;
}

.postList {
    margin-top: 20px;
}

.post {
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.post h3, .post p {
    color: black;
}

.post img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.userList {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.user {
    color: black;
    cursor: pointer;
}

.user:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .form {
        flex-direction: column;
    }

    button {
        width: 100%; 
        margin-left: 0;
    }

   
    .homePage, .post, .userList {
        padding: 10px;
        margin-bottom: 10px;
    }

   
    .post h3, .post p, .user {
        font-size: smaller; 
    }
}