.ProjectContainer {
    margin-top: 3rem;
    background-color: white;
    width: 100%;
    min-height: 60rem;
    border-radius: 1rem;
    padding: 2rem;
    border: .1rem solid lightgrey;
    box-shadow: 0 0 1rem lightgrey;
}
.ProjectItems {
    margin-top: 3rem;
    background-color: white;
    width: 100%;
    border-radius: 1rem;
    padding: 2rem;
    border: .1rem solid lightgrey;
    box-shadow: 0 0 1rem lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .imgContainer {
        .image {
            max-height: 40rem;
            border-radius: 1rem;
            border: .2rem solid lightgrey;
        }
    }
    .projectDescription {
        padding: 1rem;
        margin-left: 1rem;
        min-height: 50rem;
        border: 1px solid lightgrey;
        display: flex;
        width: 50%;
        border-radius: 1rem;
        background-color: var(--bg-color);
        box-shadow: 0 0 1rem lightgrey;
    }
    .iconContainer {
        width: 20%;
        min-height: 50rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .icon {
            width: 9rem;
            height: 9rem;
            border-radius: 100%;
            background-color: var(--bg-color);
        }
    }
}